.dark {
  --primary: rgb(160 202 253);
  --surface-tint: rgb(160 202 253);
  --on-primary: rgb(0 50 88);
  --primary-container: rgb(25 73 117);
  --on-primary-container: rgb(209 228 255);
  --secondary: rgb(187 199 219);
  --on-secondary: rgb(37 49 64);
  --secondary-container: rgb(59 72 88);
  --on-secondary-container: rgb(214 227 247);
  --tertiary: rgb(214 190 228);
  --on-tertiary: rgb(59 41 72);
  --tertiary-container: rgb(82 63 95);
  --on-tertiary-container: rgb(242 218 255);
  --error: rgb(255 180 171);
  --on-error: rgb(105 0 5);
  --error-container: rgb(147 0 10);
  --on-error-container: rgb(255 218 214);
  --background: rgb(17 20 24);
  --on-background: rgb(225 226 232);
  --surface: rgb(17 20 24);
  --on-surface: rgb(225 226 232);
  --surface-variant: rgb(66 71 78);
  --on-surface-variant: rgb(195 199 207);
  --outline: rgb(141 145 153);
  --outline-variant: rgb(66 71 78);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(225 226 232);
  --inverse-on-surface: rgb(46 49 53);
  --inverse-primary: rgb(53 97 142);
  --primary-fixed: rgb(209 228 255);
  --on-primary-fixed: rgb(0 29 54);
  --primary-fixed-dim: rgb(160 202 253);
  --on-primary-fixed-variant: rgb(25 73 117);
  --secondary-fixed: rgb(214 227 247);
  --on-secondary-fixed: rgb(16 28 43);
  --secondary-fixed-dim: rgb(187 199 219);
  --on-secondary-fixed-variant: rgb(59 72 88);
  --tertiary-fixed: rgb(242 218 255);
  --on-tertiary-fixed: rgb(37 20 49);
  --tertiary-fixed-dim: rgb(214 190 228);
  --on-tertiary-fixed-variant: rgb(82 63 95);
  --surface-dim: rgb(17 20 24);
  --surface-bright: rgb(54 57 62);
  --surface-container-lowest: rgb(11 14 19);
  --surface-container-low: rgb(25 28 32);
  --surface-container: rgb(29 32 36);
  --surface-container-high: rgb(39 42 47);
  --surface-container-highest: rgb(50 53 58);
}
